/* Обнуление */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {

    /* height: 100%; */
    line-height: 1;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    color: #616161;
    /* height: 505px; */


}

[class*="__container"] {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 15px;


}

/* -------------------------------------------------------------- */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 380px;


}



/* -------------------------------------------------- */
.header__container {
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}



.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo__img {
    width: 35px;
    height: 35px;
}



.logo_text {
    font-family: 'Roboto';
    font-weight: bold;
    color: #448CF2;
    font-size: 18px;
    padding-left: 8px;
}



.header__settings {
    width: 26px;
    height: 26px;
}

/* ----------------------------------------------------------- */
.main__container {
    display: flex;
    flex-direction: column;
}

.main__body {
    height: 257px;
    overflow-y: auto;
    padding-top: 20px;
}

.button {
    padding: 20px;
    background: linear-gradient(242.23deg, #A0C7FF -17.6%, #448CF2 67.25%);
    border-radius: 20px;

}

.button__clean {
    margin-top: 33px;
}

.button__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 6px;
}

.button__subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.button__delete {
    margin: 15px 0;
}

.main__buttonGroup {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.buttonGroup__title {
    font-size: 18px;
    line-height: 21px;
}

.buttonGroup__text {
    font-size: 14px;
    line-height: 140%;
}

.buttonGroup__button {
    width: 167px;
    padding: 28px 14px;
    margin-right: 16px;
}

.b__left {
    margin-right: 0;
}

/* -------------------------------------------- */

.subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15px;
}

.subheader__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #2F2F2F
}

.subheader__icon {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
}

/* -------------------------------------------------- */
.checkbox__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;

    margin: 20px 0 20px 32px;
    color: #818C99;
}

.checkbox {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}

.checkbox__item {
    width: 50%;
    margin-bottom: 10px;

}

.checkbox__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #818C99;
    margin-left: 9px;
    cursor: pointer;
}

.checkbox__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 27px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    margin: 31px 0 15px;
}

.button__grey {
    display: flex;
    flex-direction: row;
    background: #EAEDF1;
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    z-index: 6;
}

.clock__icon {
    margin: 5px 12px;
}

.arrow__icon {
    position: absolute;
    right: 12px;
}

.buttonGrey__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* or 121% */



    color: #2F2F2F;
}

.button__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 13px;



    color: #FFFFFF;
}

.check {
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.check+label::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #448CF2;
    border-radius: 0.15em;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center center;

}

.check:checked+label::before {
    border-color: #448CF2;

    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6381 0.875H2.41593C1.36759 0.875 0.527039 1.725 0.527039 2.76389V15.9861C0.527039 17.025 1.36759 17.875 2.41593 17.875H15.6381C16.6865 17.875 17.527 17.025 17.527 15.9861V2.76389C17.527 1.725 16.6865 0.875 15.6381 0.875ZM7.13815 14.0972L2.41593 9.375L3.74759 8.04333L7.13815 11.4244L14.3065 4.25611L15.6381 5.59722L7.13815 14.0972Z' fill='%23448CF2'/%3E%3C/svg%3E");
}

/* -------------------dropdown---------------------------------- */

.list__dropdown {
    display: none;
    background: #EAEDF1;
    padding-bottom: 32px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 5;
}

.list__item {
    padding: 10px 0 10px 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* or 121% */
    width: 100%;
    text-align: left;


    color: #2F2F2F;
}

.list__item:hover {
    background: #e4e6ea;
    border-radius: 20px;
}

.footer__list {
    position: relative;
}

/* .list__item button {
    width: 100%;
    text-align: left;
} */

/* ------------------------------------------------------------ */

.block__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #EAEDF1;
    border-radius: 20px;
    padding: 6px 15px 6px 6px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

/* .list__block {
    margin-top: 20px;
} */

.block__text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item__dots {
    display: flex;
    align-items: center;
}

.item__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
    color: #2F2F2F;
}

.item__number {
    width: 24px;
    height: 24px;
    /* text-align: center;
    vertical-align: middle; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: normal;

    color: #FFFFFF;

    background: #448CF2;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty__plug {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.empty__img {
    margin-bottom: 15px;

}

.empty__title {
    color: #818C99;
}


.input__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #818C99;

    margin: 0px 0px 5px 8px;
}

.input__area {
    padding: 8px;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2F2F2F;

    background: #EAEDF1;
    border-radius: 11px;
    margin-bottom: 10px;
    outline: none;
}

.input__area::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}




.main__body::-webkit-scrollbar {
    width: 0;
}


/* ===================================================================== */

.settingsBody__btn {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;
    background: #EAEDF1;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 11px;
}

.btn__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #2F2F2F;
    margin-bottom: 6px;
}

.btn__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;

    color: #7F7B7B;
}

.settingsBody {
    margin-top: 20px;
    padding-bottom: 251px;
}

/* =========================== fullpage ========================================= */

.wrapper-fullpage {
    width: 100%;
    background-color: #F4F4F4;
    height: 100vh;
}

.header__container-fullpage {
    width: 100%;
    margin-top: 0;
    justify-content: center;
}

.header__logo-fullpage {
    margin-top: 30px;
}

.logo__img-fullpage {
    height: 79px;
    width: 79px;
}

.logo_text-fullpage {
    font-size: 34px;
    padding-left: 13px;
}

/* ============================== */

.main-fullpage__container {
    justify-content: center;
}

.authBlock {
    background-color: white;
    width: 710px;
    margin-top: 100px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.authBlock__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #2F2F2F;
    margin-bottom: 24px;
}
.inputBlock {
    margin-bottom: 17px;
}
.inputBlock__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #818C99;

    margin: 0 0 3px 9px;
}

.input__area-fullpage {
    width: 415px;
    height: 45px;
    margin-bottom: 0;
}

.button-fullpage {
    width: 415px;
    height: 50px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
}

.regBlock {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 22px;
}

.reg__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 11px;
    /* identical to box height */


    color: #2F2F2F;
}

.btn__reg {
    margin-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 11px;
    /* identical to box height */


    color: #448CF2;
}

/* -------------------------------------------------------------------- */

.authBlock-reg {
    padding: 23px;
    margin-top: 18px;
}

.nameBlock {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
}

.input__area-half {
    width: 202px;
    height: 45px;
    margin-bottom: 0;
}

.nameBlock__name {
    margin-right: 11px;
}






/* стили для темной темы */

body.dark-theme {
    background: #19232F;
}

body.dark-theme .logo_text {
    color: #ffff;
}

body.dark-theme .button {
    background: #244465;
}

body.dark-theme .subheader__text {
    color: #FFFFFF;
}

body.dark-theme .button__grey {
    background: #203040;
}

body.dark-theme .buttonGrey__text {
    color: #FFFFFF;
}

body.dark-theme .list__dropdown {
    background: #203040;
}

body.dark-theme .list__item {
    color: #FFFFFF;
}

body.dark-theme .list__item:hover {
    background: #2d455d;
}

body.dark-theme .block__item {
    background: #203040;
}

body.dark-theme .item__link {
    color: #FFFFFF;
    font-weight: 400;
}

body.dark-theme .input__area {
    background-color: #203040;
    color: #FFFFFF;
}

body.dark-theme .input__area::placeholder {
    color: #818C99;
}

body.dark-theme .empty__title {
    color: #818C99;
}

body.dark-theme .settingsBody__btn {
    background: #203040;
}

body.dark-theme .btn__title {
    color: #FFFFFF;
}